[submodule "rinari"]
	path = rinari
	url = git://github.com/eschulte/rinari.git
[submodule "emacs.d/elisp/rinari"]
	path = emacs.d/elisp/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "zsh/modules/auto-fu"]
	path = zsh/modules/auto-fu
	url = http://github.com/hchbaw/auto-fu.zsh.git
[submodule "emacs.d/elisp/evernote"]
	path = emacs.d/elisp/evernote
	url = git@hadashikick.jp:evernote.el.git
