[submodule "rinari"]
	path = rinari
	url = git://github.com/eschulte/rinari.git
[submodule "emacs.d/elisp/rinari"]
	path = emacs.d/elisp/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "zsh/modules/auto-fu"]
	path = zsh/modules/auto-fu
	url = http://github.com/hchbaw/auto-fu.zsh.git
[submodule "emacs.d/elisp/twittering-mode"]
	path = emacs.d/elisp/twittering-mode
	url = git@github.com:f-kubotar/twittering-mode.git
[submodule "zsh/autojump"]
	path = zsh/autojump
	url = https://github.com/joelthelion/autojump.git
[submodule "emacs.d/elisp/rspec-mode"]
	path = emacs.d/elisp/rspec-mode
	url = https://github.com/pezra/rspec-mode.git
[submodule "zsh/modules/zaw"]
	path = zsh/modules/zaw
	url = https://github.com/zsh-users/zaw.git
