.DS_Store
._.DS_Store
*.swp
.#*
history-*
zsh/history
zsh/modules/auto-fu/auto-fu
zsh/modules/auto-fu/auto-fu.zwc
zsh/cdd_pwd_list
zsh/cdd_pwd_list.t
fish_history
fish_read_history
fishd.*
vim/.netrwhist
vimperator/info
screen/.temp
screen/exchange
emacs.d/auto-save-list
emacs.d/anything-c-adaptive-history
emacs.d/bookmarks
emacs.d/url/cookies
emacs.d/**/archive-contents
emacs.d/elpa/archives
emacs.d/recentf
emacs.d/.session
emacs.d/projectile-bookmarks.eld
emacs.d/.mc-lists.el
emacs.d/ido.last
emacs.d/projectile.cache
*.elc
emacs.d/el-get
emacs.d/elpa
emacs.d/info
emacs.d/ac-dict
emacs.d/auto-save-list
