.DS_Store
._.DS_Store
*.swp
history-*
zsh/history
zsh/modules/auto-fu/auto-fu
zsh/modules/auto-fu/auto-fu.zwc
zsh/cdd_pwd_list
zsh/cdd_pwd_list.t
fish_history
fish_read_history
fishd.*
vim/.netrwhist
vimperator/info
emacs.d/auto-save-list
emacs.d/anything-c-adaptive-history
screen/.temp
screen/exchange
.#*
emacs.d/bookmarks
emacs.d/conf/twitter-password.el
doc/ruby-refm*
emacs.d/url/cookies
