visibility=public
kind=defined
names=for_fd

--- for_fd(fd)

ファイルディスクリプタ fd に対する新しいソケットを生成します。
このメソッドは [[c:Socket]] クラスからこのクラスに移動しました。
これにより、任意のソケットである fd から対応するソケッ
トクラスを作ることができます。

