<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pkmk-token-10</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>org.pqrs.KeyRemap4MacBook-server</string>
			<key>path</key>
			<string>/Library/org.pqrs/KeyRemap4MacBook/app/KeyRemap4MacBook_server.app</string>
			<key>searchPlugin</key>
			<string>CommonAppSearch</string>
		</dict>
	</array>
	<key>pkmk-token-14</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>org.pqrs.KeyRemap4MacBook_statusbar</string>
			<key>path</key>
			<string>/Library/org.pqrs/KeyRemap4MacBook/app/KeyRemap4MacBook_statusbar.app</string>
			<key>searchPlugin</key>
			<string>CommonAppSearch</string>
		</dict>
	</array>
	<key>pkmk-token-18</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>org.pqrs.KeyRemap4MacBook_uninstaller</string>
			<key>path</key>
			<string>/Library/org.pqrs/KeyRemap4MacBook/app/uninstaller.app</string>
			<key>searchPlugin</key>
			<string>CommonAppSearch</string>
		</dict>
	</array>
	<key>pkmk-token-2</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>org.pqrs.KeyRemap4MacBook.updater</string>
			<key>path</key>
			<string>/Library/org.pqrs/KeyRemap4MacBook/app/KeyRemap4MacBook.app</string>
			<key>searchPlugin</key>
			<string>CommonAppSearch</string>
		</dict>
	</array>
</dict>
</plist>
