visibility=public
kind=defined
names=shutdown

--- shutdown([how])

ソケットの以降の接続を終了させます。
how の値によって以下のように接続が終了します。

  * Socket::SHUT_RD: それ以降の受信が拒否されます
  * Socket::SHUT_WR: それ以降の送信が拒否されます
  * Socket::SHUT_RDWR: それ以降の送信、受信ともに拒否されます

how を省略すると Socket::SHUT_RDWR を指定したことになります。
[[man:shutdown(2)]] を参照してください。
