visibility=public
kind=defined
names=gethostbyname

--- gethostbyname(host)

ホスト名または IP アドレス (整数または"127.0.0.1"
のような文字列)からホストの情報を返します。ホスト情報は、ホ
スト名、ホストの別名の配列、ホストのアドレスタイプ、ホストの
アドレスを各要素とする配列です。ホストのアドレスは octet
decimal の文字列 ("127.0.0.1"のような文字列) です。

例:

  p TCPSocket.gethostbyname("www.ruby-lang.org")
  #=> ["beryllium.ruby-lang.org", [], 2, "210.163.138.100"]
