visibility=public
kind=defined
names=peeraddr

--- peeraddr

接続相手先ソケットの情報を表す配列を返します。配列の各要素は
[[m:IPSocket#addr]] メソッドが返す配列
と同じです。

例:

  TCPSocket.open("localhost", "http") {|s|
    p s.peeraddr    #=> ["AF_INET", 80, "localhost.localdomain", "127.0.0.1"]
    p s.addr        #=> ["AF_INET", 52615, "localhost.localdomain", "127.0.0.1"]
  }

