;;
;; 正規表現辞書 (上級者向け)
;; 
;; - 辞書の項目はソートされている必要はありません
;; - 各正規表現はTABで区切ってください
;; - 各正規表現は括弧で囲んでください
;; - 各正規表現はあらかじめテストしておいてください
;; - migemo --type=TYPE による正規表現の種類選択は行えません
;; - `;' から始まる行はコメントです
;;
mail	\([-0-9a-zA-Z_.]+@[-0-9a-zA-Z_.]+\)
url	\(\(http\|https\|ftp\|afs\|wais\|telnet\|ldap\|gopher\|news\|nntp\|rsync\|mailto\)://[-_.!~*'()a-zA-Z0-9;/?:@&=+$,%#]+\)
