;;
;; ユーザ辞書
;; 
;; - 辞書の項目はソートされている必要はありません
;; - 各単語はTABで区切ってください
;; - `;' から始まる行はコメントです
;;
csl	ソニーコンピュータサイエンス研究所	ソニーCSL	Sony CSL
naist	奈良先端科学技術大学院大学	奈良先端大
motd	Message Of The Day
ひさおき	契沖
"	“	”
#	＃	♯
*	＊	×	※
,	，	、
.	．	。
/	／	÷
<	＜	〈	《
>	＞	〉	》
[	［	「	『	【	〔
\	＼	￥
]	］	」	』	】	〕
