visibility=public
kind=defined
names=bind

--- bind(my_sockaddr)

ソケットを my_sockaddr に結合します。[[man:bind(2)]]
と同じ働きをします。my_sockaddr は
[[m:socket#ソケットアドレス構造体を pack した文字列]]
です。

0 を返します。

