visibility=public
kind=defined
names=pack_sockaddr_un,sockaddr_un

--- sockaddr_un(path)
--- pack_sockaddr_un(path)

指定したアドレスを[[m:socket#ソケットアドレス構造体を pack した文字列]]
で返します。

例:

  require 'socket'
  p Socket.sockaddr_un("/tmp/.X11-unix/X0")
  => "\001\000/tmp/.X11-unix/X0\000...."

